*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Montserrat:ital,wght@0,200;0,500;1,100;1,300&display=swap')
body{
    scroll-behavior: smooth;
    transition: all 150ms ease-in;
}

/*welcome*/
.container{
    font-size: 1em;
   position:relative;
}
.welcome-page{
display: flex;
flex-direction: row;
flex-basis: 50%;
margin:40px 0;
column-gap: 5px;
}
#title{
    text-align: center;
    background-color: grey;
    padding:35px 0;
    margin: 30px;
    border-radius: 15px;
    font-size: 2.3em;

}
.title{
    text-align: center;
    font-size: 2em;
    margin: 15px;
    font-family:fira sans ;
}

h2{
    text-align: center;
}
#melkio{
    width: 100%;

}

#regina{
   width: 100%;

}
.button{
    margin: 40px;

}
#welcome-button{
width:40%;
height:1.5cm;
justify-content:center;
margin: 0% 30% 0% 30%;
padding: 20px;
text-align: center;
font-size: 1.2em;
font-family:Arial, Helvetica, sans-serif;
color: #555d50;
background-color:#ffd300;
border-radius: 19px;
}

.boundary{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin:5px;
    font-size:1.2em;
    width: 40%;
    background-color:wheat;
}
.submit{
    margin: 10px;
    padding:10px;
    width: 60%;
    justify-items: center;
    background-color:teal;
    text-align: center;
    font-size: 1.1em;
}

a{
    text-decoration: none;

}


/*main-index1*/
.container1{
    font-weight: 300;
}
#title1{
    text-align: center;
    background-color:#D3D3D3;
    padding: 15px;
margin: 0;
  width:100%;
    align-content:center ;
font-size: 3em;
font-family: fira sans,sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
   column-gap: 14px;
    padding:10px;
    background-color:chartreuse;
    text-align: center;
    font-size: 1.4em;
    border-radius:20px;
    position: relative;
    justify-content: center;

}
.nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    column-gap: 15px;
    text-align: center;
}
.video{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding: 20px 40px 40px 40px;

}
iframe{
border:none;
}
.reading{
 display:flex;
 flex-direction:row;
 column-gap:10px;
 justify-content: space-around;
 padding:0px 40px 20px 40px;
 font-size: 1.2em;
}
.today-passage{
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 20px;
    margin: 20px;
   
}
#today{
    font-size: 1.2em;
    background-color:#F8B195;
    padding: 10px;
    text-align: center;
}
.gospel-reading{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
#gospel{
    font-size: 1.2em;
    background-color:#F8B195;
    padding: 10px;
    text-align: center;
}
.melkio-teaching{
    width: 100%;
    display: flex;
    flex-direction: column;
     padding: 20px;
    margin: 20px;
border:none;
   
}
#melkioh{
    font-size: 1.2em;
       padding: 10px;
    text-align: center;
    background-color:#F8B195;
}

.prayer-pics{
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin:2px auto;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.daily{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}



#praying-hands,#dove,#cross,#Jesus{
   width: 100%;
height:200px;
}
@media(max-width:360px) {
    /*main-page*/
#praying-hands,#dove,#cross,#Jesus{
   width: 100%;
height:150px;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
min-width: 300px;
}
.reading{
display: flex;
flex-direction: column;
width:100%;
min-width: 300px;
margin: 0 auto;
padding: 0;
}
.today-passage,.gospel-reading,.melkio-teaching{
     border-bottom: 2px groove #dfdfDF;
     border-width: 80%;
}
.head-daily-prayer{
    padding: 10px;
    text-align: center;
    background-color:#F8B195;
    font-size: 2em;
}


/*branch-page*/
.branch1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    }
    .joseph{
grid-row: 1/2;
    }
    .teresa{
grid-row: 2/3;
    }
    .alois{
grid-row: 3/4;
    }
.branch2{
    display: flex;
    flex-direction: column; 
}
}
















/*branch page*/
.container3{
    font-weight: 200;
    overflow: none;
    box-sizing: border-box;
    margin: 0;
}
.title3{
    text-align: center;
    padding: 10px;
    background-color:#C0C0C0;
   padding: 20px;
   width:100%;
   justify-content: center;
   margin-top:0;
   margin-bottom: 20px;
}
.branch1{
    display: flex;
    flex-direction:row;
    column-gap:5px;
    justify-content:space-evenly;
margin: 20px;
padding: 20px;
}
#st-joseph,#st-peter,#st-alois{
    width: 100%;
    height:350px;
}

.joseph,.teresa,.alois{
    border: 1px #000001 groove;

}

.kariobangi,.youth,.ruaraka{
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}

.btn{
     width:20%;
    height:1cm;
        background-color:gold;
        align-items: center;
        justify-content: center;
        padding-block-start: 10px;
        border-radius: 7px;
        box-shadow: 1px 1px 1px 1px gold;
}
.branch2{
display:flex;
flex-direction: row;
column-gap: 5px;
justify-content:space-evenly;

}
.mary,.lucia,.peter{
 border: 1px #000001 groove;
}
.gomongo,.kisumundogo,.korogocho{
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}
#gomongo,#korogocho,#kisumundogo{
  width: 100%;
    height:350px;
}

.st-joseph-title{
    text-align: center;
    background-color: #A32CC4;
    font-size: 3em;
    padding: 30px;
    margin: 0;
    color: ghostwhite;
}
@media(max-width:360px){
/*branch-page*/
.branch1{
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    gap:30px;
    }
   
.branch2{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
    margin: 20px;
}
}



/*Store page*/
.container{
    font-weight: 200;
}
.welcome{
    text-align: center;
}
.navbar-lumen{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: monospace;
    list-style: none;
    column-gap: 15px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.products-row1{
    display: grid;
     grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
   
    
}

 
   #rosary,#bibles,#candles{
    width: 100%;
    height: 200px;
   }
   .rosary{
    grid-column: 2/3;
     border: 1px groove black;
   }
   .bibles{
    grid-column: 3/4;
     border: 1px groove black;
   }
   .candles{
    grid-column: 4/5;
     border: 1px groove black;
   }
.products-row2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin: 40px 0;
    padding: 30px;
}
.incense{
    grid-column: 2/3;
       border: 1px groove black; 
}
.crosses{
    grid-column: 3/4;
    border: 1px groove black;
}
.apparel{
    grid-column: 4/5;
       border: 1px groove black;
}
#incense,#apparel,#crosses{
    width:100%;
    height: 200px;
}

.products-row3{
display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 3px;

}
.pad{
    grid-column: 2/3;
    border: 1px groove black;
}
.frames{
    grid-column: 3/4;
      border: 1px groove black;
}
.carving{
    grid-column: 4/5;
        border: 1px groove black;
}

#pad,#frames,#carving{
    width: 100%;
    height: 200px;
}

.title{
    font-size: 1.8em;
    font-family:arial;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
.kenyan-flag{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-around;
}
.mantra{
margin: 40px 0;
padding: 40px;
font-size: 1.4em;
font-family: ;

}
.country{
 flex-basis: 50%;
}
#wallpaper{
    display: flex;
    flex-basis: 50%;
    max-width: 100%;
    height:400px;
    padding: 40px;
    margin: 40px 0;
}

    .btn{
   justify-content: center;
     height:1cm;
     padding: 10px;
     float: center;
     margin:0% 40% 0% 40%;
     text-align: center; 
 }

.footbar{
    text-align: center;
    background-color: chartreuse;
    font-size: 1.5em;
    font-weight: 200;
    padding: 20px;
    margin: 10px;
}

.welcome{
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.logo img{
width:100%;
height: 200px;
}
.logo p{
   display: inline-block;
   text-align: center;
   align-items: center; 
}
.store{
    display: flex;
    flex-direction: column;
    text-align: center
    font-size:2em;
background-color: #C6FF00;
width: 100%;
}
.store-name{
    text-align: center;
    font-family: lucia;
    font-size: 5em;
    padding: 30px;
    margin-top: 0px;
    margin-left: 0;
    margin-right:0 ;


}
.store-name-mantra{
    font-size: 2em;
    margin:10px;
}

#nav-link{
   s
}
#nav-link:hover{
    transform: scale(1.2);
}

/*Store*/
@media(max-width:360px){
.logo{
    margin-bottom: 10px;
}
.store-name{
    font-size: 2.4em;
    padding-bottom: 10px;
}
.store-name-mantra{
    font-size: 1.5em;
}
.products-row1{
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 0;
}
.products-row2{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
     gap: 40px;
}
.products-row3{
    display: flex;
    flex-direction: column;
       gap: 40px;
       margin-top: 0;
       margin-bottom: 0;
}
.kenyan-flag{
display: flex;
flex-direction: column;
}
.mantra{
    padding-top: 20px;
    margin-top:100px;
margin-bottom: 0;

}
#wallpaper{
    margin: 0;
    padding-top: 0;
    width: 100%;
}
}






  /*candles*/

.candles-2, .candles-4{
  max-width: 1080px;
    display: flex;
    flex-basis: 25%;
    min-width: 200px;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    justify-content:space-around;
    align-items: center;
    column-gap: 5px;
    transform: translateY(10px);

} 
.candles-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.candles-3,.candles-4{
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding: 30px;
    justify-content:space-evenly;
    align-items: center;
    


}
.candles-2{
    margin-top: 50px;
}
#candle{
    width:100%;
    height: 300px;
}
#candles-4-img{
    width: 100%;
    height: 300px;
}
.white-title,.red-title,.green-title,.orange-title,.black-title,.yellow-title,.purple-title,.maroon-title,.blue-title,.pink-title{
   
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
.cost{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Fira Sans','sans-serif';
}
@media(max-width:360px){
    .candles-1,.candles-2,.candles-3,.candles-4{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .white,.red,.orange,.blue,.green,.purple,.pink,.maroon,.yellow,.vanilla,.cinnamon,.orange,.black{
        border-bottom: 1px groove gray;
    }
}

/*bibles*/
#bib{
    border: 1px groove #00100; 
}
.bibles1{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-gap: 10px;
padding: 30px;
margin: 40px;
}
.gdnews{
    grid-column: 1/2;
}
.NIV{
    grid-column: 2/3;
}
.swahili{
    grid-column: 3/4;
}
#bible-imeg{
    width:100%;
    height:500px;  
}
#bible-img{
    width: 100%;
    height: 300px;
}

.bibles2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 30px;
}
.kitaplemo{
grid-column: 1/2;
}
.presdiumbook{
    grid-column: 2/3;
}
.holymass{
    grid-column: 3/4;
}
#bibles-imag{
    width: 100%;
    height: 200px;
}
.bibles3{
    display:grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-gap: 10px;

}
.puonj-baba{
    grid-column: 1/2;
}
.wende{
    grid-column: 2/3;
}
.church-calender{
    grid-column: 3/4;
} 

@media(max-width:360px){
    .bibles1,.bibles2,.bibles3{
    display: flex;
    flex-direction: column;
    min-width: 300px; 
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px; 
 
}
.gdnews,.NIV,.swahil,.kitaplemo,.wende,.holymass,.puonj-baba,.presdiumbook,.church-calender,.behavior{
border-bottom: 1px groove gray; 
}

/*Rosary page*/

.rosary-products, .rosary-products1,.rosary-products2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 40px;
    margin: 40px;
    justify-content: space-around;
    justify-items: space-around;
    align-items: center;
    grid-gap: 20px;
}

#rosary-img{
   min-width: 300px;
    height: 300px;
}
@media(max-width:360px){
    .rosary-products,.rosary-products1,.rosary-products2{
        display: flex;
        flex-direction: column;

    }
}

/*incense page*/
.incense-logo{
    width: 10%;
}


.incense-products{
   display:flex;
   flex-direction: row;
   gap: 40px;

}

 #incense-1,#incense-2,#incense-3{
    width: 10%;
    height: 300px;
 }   
@media(max-width: 360px){
        .incense-products{
            display: flex;
            flex-direction: column;
        }
    }
    /*prayer-page*/
    .prayer-row{
display: flex;
justify-content: space-around;
    }
    .wake-up{
        padding: 30px;
        margin: 20px;
        background-color: lime;
font-family: Montserrat;
 font-size: 2em;
    }
    .morning{
        padding:30px;
        margin: 20px;
        background-color: beige;
        font-family: Montserrat;
         font-size: 2em;
    }
    .noon{
        background-color: mediumaquamarine;
        padding:30px;
        margin:20px;
font-family: Montserrat;
 font-size: 2em;
    }
    .evening{
        background-color: mediumorchid;
        font-family: Fira sans;
        padding: 30px;
        margin: 20px;
        font-size: 2em;
    }



    /*news page*/

    .current-week{
        
        text-align: center;
        font-size: 1.3em;
        font-family:fora sans;
        padding: 40px;

    }
    .adults{
        transform: translateX(-10px);
    }